<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  {% include navigation.html %}
  <section class="container">
    <div class="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </section>
  {% include footer.html %}
  <script>
    const hamburgerBtn = document.querySelector('.hamburger-btn')
    const closeBtn = document.querySelector('.close-btn')
    const menu = document.querySelector('.hamburger-menu')

    hamburgerBtn.addEventListener('click', () => {
      menu.className = 'hamburger-menu open'
    })

    closeBtn.addEventListener('click', () => {
      menu.className = 'hamburger-menu close'
    })
  </script>
</body>

</html>